<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>OAuth 2.0 Demo</title>
  <link type="text/css" rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div id="main-wrapper">
    <h1>Google OAuth 2.0 Demo</h1>
    <hr>
    <div class="auth-link">
      <a href="https://accounts.google.com/o/oauth2/v2/auth?response_type=code&client_id={{ client_id }}&redirect_uri=https://boones-oauth-demo.appspot.com/oauth2callback&scope=email&state={{ state_var }}" title="OAuth link">Click here to authorize</a>
    </div>
  </div>
</body>
</html>